@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --color-principal: #036;
    --text-muted: #cccccc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(215deg, rgb(96, 150, 211), rgb(202, 220, 241), rgb(202, 220, 241), rgb(96, 150, 211));
}

/*_____________________________________________________________________*/
/*                               HEADER                                */

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: .4% 7%;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
    z-index: 1000;
}

header .logo_header {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 25px;
    color: #fff;
}

header .logo_header>img {
    width: 70px;
    height: 65px;
    border-radius: 50%;
}

header .navbar .nav-ul {
    display: flex;
}

header .navbar .nav-ul li {
    position: relative;
}

header .navbar .nav-ul li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .7vw;
    transition: .5s;
}

.navbar .nav-ul li a:hover {
    background-color: rgb(9, 77, 145);
    border-radius: 8px;
    transition: .5s;
}

.navbar .nav_ul-submenu,
.nav_ul-cursos-adultos {
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
    background-color: var(--color-principal);
}

.nav_ul-submenu li {
    width: 100%;
}

.nav_ul-submenu .nav_ul-cursos-adultos {
    left: 100%;
    top: 0;
}

.nav_ul-submenu li i {
    transform: rotate(-90deg);
}

.nav_ul-li-campus {
    background-color: rgb(163, 8, 20);
    border-radius: 8px;
}

.nav_ul-li-campus a:hover {
    background-color: rgb(209, 53, 13) !important;

}

header .navbar ul li:hover>ul {
    display: initial;
}

.hamburger-check {
    display: none;
}

#sobreNos_nov {
    display: none;
}

/*_____________________________________________________________________*/
/*                               SLIDER                                */

.slider {
    width: 96vw;
    aspect-ratio: 16 / 9;
    max-height: 80vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slider_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider_content .item {
    display: flex;
    width: 96vw;
    height: 100%;
    padding-inline: 4vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*--------  PRIMER SLIDE  -------*/

.slider_content-item1 {
    background-image: url("../Imagenes/aula.jpg");
}

.slider_content-item1>div {
    flex: 1;
    border-radius: 8px;
}

.slider_content-item1 .item1-cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1vw;
    background-color: rgba(165, 164, 164, 0.685);
    backdrop-filter: blur(7px);
    mask-image: linear-gradient(to left, transparent 0%, black 3%, black 97%, transparent 100%);
}

.slider_content-item1 .item1-cont1>img {
    width: 70%;
    border-radius: 40%;
    margin-bottom: 3%;
    filter: drop-shadow(7px 3px 7px rgb(45, 45, 204));
}

.slider_content-item1 .item1-cont1>h3 {
    color: var(--color-principal);
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;

    text-shadow: 3px 2px 9px rgba(0, 51, 102, 0.692);
}

.slider_content-item1 .item1-cont2 {
    background-color: rgba(0, 91, 187, 0.85);
    ;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    margin: 2% 1% 2% 0;
    position: relative;
    overflow: hidden;
}

.slider_content-item1 .item1-cont2>img {
    position: absolute;
    right: -8%;
    top: 3%;
    width: 30%;
    height: 100%;
}

.item1-cont2 .item_cont2-text {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 6%;
    padding: 5%;
    text-align: center;
}

#Certificacion {
    display: none;
}

.item1-cont2 .item_cont2-text>h3 {
    background-color: #002c5d;
    border-radius: 12px;
    padding: 1vw .8vw;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    font-weight: 800;
}

.item1-cont2 .item_cont2-text>h4 {
    font-size: 1.4vw;
    font-weight: 600;
    color: #d0e8ff;
    margin-bottom: -1vh;
}

.item1-cont2 .item_cont2-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: -.5rem;
}

.item1-cont2 .item_cont2-text ul li {
    font-size: 1.2vw;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.8vw;
    line-height: 1.4;
    text-align: left;
}

.item1-cont2 .item_cont2-text ul li::before {
    content: "✓";
    color: #00ffcc;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.item1-cont2 .item_cont2-text a.btn {
    background-color: #cc000a;
    color: #ffffff;
    font-weight: 700;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.item1-cont2 .item_cont2-text a.btn:hover {
    background-color: #cc000a;
    transform: scale(1.05);
    color: white;
}

.buttons {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1d1c1cbd;
    color: #FFF;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 0;
    color: #FFF;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1d1c1cbd;
}

.dots li {
    list-style: none;
    width: .8rem;
    height: .8rem;
    background-color: #FFF;

    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.dots li.active {
    width: 30px;
}